.modal {
  padding: 30px 0 0 0;
  border: none;
  border-radius: 10px;
}

.modal__btn--cancel {
  display: flex;
  align-items: center;
  margin: 0 30px 10px 30px;
}

.modal--close {
  margin-left: auto;
  align-self: flex-end;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
}

.modal--close:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal-content__btn {
  padding: 9px 49px;
  border-radius: 60px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Syne';
  color: white;
  transition: 0.3s ease;
}

.modal-content__btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

/***** Modal Gallery *****/
.modal-content-gallery.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 105px 45px 105px;
}

.modal-content-gallery {
  display: none;
}

.modal-content__title {
  font-size: 1.625rem;
  text-align: center;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 27px;
  column-gap: 9px;
  margin: 45px 0 35px 0;
  padding-bottom: 67px;
  border-bottom: 1px solid #b3b3b3;
}

.modal-card {
  position: relative;
}

.modal-card--delete {
  position: absolute;
  margin: 6px 5px;
  padding: 4px;
  z-index: 10;
  right: 0;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.modal-card--delete:hover {
  opacity: 0.9;
}

.modal-card--delete-icon {
  pointer-events: none;
  color: #fff;
}

.modal-card img {
  width: 80px;
  height: 102px;
  object-fit: cover;
}

.modal--add-project {
  background-color: #1d6154;
  border: 1px solid #1d6154;
}

.modal--add-project:hover {
  opacity: 0.7;
  cursor: pointer;
}
